.pagination li {
    border: 1px solid skyblue;
    padding: 15px;
}

.pagination a {
    text-decoration: none;
}

.disabled {
    cursor: no-drop;
}

.disabled a{
    cursor: no-drop;
}

.active {
    background: blue;
}

.active a{
    color: white;
}